{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "vue/html-self-closing": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "prettier", "plugin:vue/vue3-recommended"],
  "plugins": ["vue"]
}
